<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div id="header">
        <div id="logo">
            <h3><span>Payment</span> Gateway</h3>
        </div>

        <nav>
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT US</a>
            <a href="#">GET STARTED</a>
        </nav>
    </div>
    <div id="containerr">
        <h1 align="center">Welcome To Payment zone</h1><br /><br />
        <form align="center" action="/donate" method="POST">
            <input
              type="text"
              name="title"
              id="title"
              placeholder="Enter Your Email-Id "
            /><br /><br />
           <input
           type="number"
           name="pay"
           id="pay"
           placeholder="enter amount"><br /><br />
    
            <button type="submit">Submit Details</button>
          </form>
    </div>
    
</body>
</html>