<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="header">
        <div id="logo">
            <h3><span>Payment</span> Gateway</h3>
        </div>

        <nav>
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT US</a>
            <a href="#">GET STARTED</a>
        </nav>
    </div>
    <div id="container">
        <div id="content-container"><br>
            <h1>100% Safe Payment</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi unde ab, harum facilis sed fuga expedita
                atque a sint incidunt facere inventore ipsum! Cumque, praesentium. Quia neque reiciendis aperiam
                accusamus.</p>
               <h2> <a href="/donate">Donate</a> </h2>
        </div>
    </div>
</body>

</html>